* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Comfortaa", cursive;
  background-image: url("../images/floor-gray-grey-8892.jpg");
  background-size: cover;
  color: #fdfffc;
}

.intro {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.header {
  background-color: #4d5359;
}

.title {
  text-align: center;
  font-family: "Comfortaa", cursive;
  font-family: "Cinzel", serif;
  letter-spacing: 10px;
  padding: 25px;
  border-bottom: 1px solid #fdfffc;
  color: #d3b99f;
}

.start-container {
  display: flex;
  justify-content: center;
  margin-top: 4%;
}

button {
  padding: 10px;
  border-radius: 5px;
  letter-spacing: 5px;
  font-size: 2em;
  outline: none;
}
.question-box {
  line-height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border-bottom: 1px solid red; */
}

.question {
  font-size: 1.5em;
  margin: 3%;
}

.answer-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.answers {
  transition: 0.5s ease;
  font-size: 1.5em;
  line-height: 35px;
}

.answers:hover {
  letter-spacing: 1px;
  cursor: pointer;
}

.response-container {
  margin: 1%;
  letter-spacing: 1.5px;
  font-size: 1.5em;
}

.answer-response {
  margin-bottom: 15px;
}

img {
  height: 22em;
  width: auto;
  margin: 15px;
  border-radius: 5px;
  border: 1px solid #fdfffc;
  box-shadow: 10px 10px 11px -8px rgba(0, 0, 0, 0.75);
}

.result {
  font-size: 1.5em;
}

.game-over {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 175px;
  font-size: 1.2em;
  letter-spacing: 1px;
}

.main-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 2%;
}

.score-display-container {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2%;
}

#reset {
  margin-top: 2%;
}

.hide {
  display: none;
  transition: 1s;
}
